@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #f4f6fa;
}

.Sidebar .active {
  background-color: #ebeef1;
  border-right-width: 4px;
  border-right-color: #007aff;
} 